@import 'Stylesheets/colors';

* {
font-family: 'Roboto', sans-serif;
font-size: 14px;
}

h2 {
  font-size: 200%;
  margin: 0
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

#root {
  // background-image: url(../docs/images/kanjisymbol_blade.png) ;
  // background-position-x: center;
  // background-position-y: 10vh;
  // background-repeat: no-repeat;
  // max-width: 1200px;
  width: 100vw;
  margin: 0 auto;
  background-color: $white;
  color: $black;
  
  // flex-direction: column;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  background-color: $black;
  padding: 2vh 1em;

  >* {
    color: $white;
  }

}

#knivesContainerDiv {
  padding: 2em;
  display: grid;
  // grid-template: auto / fit-content;
  // grid-template: auto / repeat(5, 1fr);
  grid-template: auto / repeat(4,auto);
  grid-auto-flow: row;
  column-gap: 2vh;
  row-gap: 1.5vw;
  
}



// #knivesContainerDiv {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 2.5em;
  
// }

.RightContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em
}

.inputForm {
  width: 500px;
  height: 500px;
  background-color: $white;
  align-items: center;
}

.knifeBox {
  max-width: 30vw;
  // max-height: 500px;
  border: 0;
  // border-radius: 1em;
  padding: 1em;
  box-shadow: .5em .5em .5em .2em rgba(0, 0, 0, 0.103) ;
  
  > * {
    margin: .5em 0;
  }
}

#knivesContainerDiv img {
  mix-blend-mode: multiply;
  display: flex;
  // height: 20vh;
  width: auto
}

button {
  background-color: $crimson;
  color: white;
  font-weight: bold;
  border: 0;
  padding: .5em 1em;
  border-radius: .25em;

}

button:hover {
  transform: scale(1.05);
  background-color: #f56991;
  
}

table th {
  padding: 10px;
  // margin: 50px;
}

table tr {
  // margin: 10px;
}

table {
  // text-decoration: none;
}
